:root {
  --color-primary: #ba265d;
  --color-secondary: #e06693;
  --default-font-size: 1.6rem;

  --color-grey-light-1: #f4f4f4;
  --color-grey-light-2: #f2f2f2;
  --color-grey-light-3: #e3e3e3;

  --color-grey-dark-1: #444;
  --color-grey-dark-2: #a1a1a1;
  --color-grey-dark-3: #777;

  --color-green-dark-1: #226928;

  --color-white: #fff;

  --line: 1px solid var(--color-grey-light-3);
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-1);
  background-color: var(--color-grey-light-1);
}

.header {
  height: 10rem;
  background-color: var(--color-white);
  margin: 1rem 1rem 2rem 1rem;
  padding: 0 10rem 0 10rem;
  box-shadow: 0px 1px 2px var(--color-grey-dark-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
}

.form-login {
  display: flex;
  flex-direction: row;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.2rem 1.5rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-dark-2);
  border-radius: 0.4rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.form__input:focus {
  outline: none;
}

.form-login__input,
.form__select {
  margin-right: 0.7rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 4rem;
  display: inline-block;
  border-radius: 0.4rem;
  border: 1px solid var(--color-grey-dark-2);
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  outline: none;
}

.btn--red {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  border: 1px solid var(--color-primary);
}

.btn--red-2 {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: 700;
  border: 1px solid var(--color-secondary);
}

.btn--green {
  background-color: var(--color-green-dark-1);
  color: var(--color-white);
  font-weight: 700;
  border: 1px solid var(--color-secondary);
  text-transform: lowercase;
}

.btn--action {
  border: none;
  padding: .4rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  max-width: 140rem;
  /* height: calc(100vh - 24rem); */
  margin: 0 auto;
}

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
}

.border {
  box-shadow: 0px 1px 2px var(--color-grey-dark-2);
}

.margin-top-small {
  margin-top: 1.5rem !important;
}

.horizontal-middle {
  display: flex;
  justify-content: center;
}

.footer {
  height: 10rem; 
  margin-top: 2rem;
}

.footer p {
  margin-top: 2rem;
}

.line {
  width: 60%;
  border-bottom: var(--line);
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.text {
  font-size: var(--default-font-size);
}

.text--small {
  font-size: 1.4rem;
}

.text--grey {
  color: var(--color-grey-dark-3);
}

.section {
  width: 80rem;
  padding: 0 2rem;
}

.section__info {
  padding: 1rem;
  line-height: 2rem;
  box-shadow: 0px 1px 2px var(--color-grey-dark-2);
  color: var(--color-grey-dark-2);
  font-size: 1.6rem;
  font-family: calibri;
  text-align: center;
}

.section__content {
  margin-top: 3rem;
}

.display--flex {
  display: flex;
  justify-content: space-between;
}

.form--set-schedule {
  width: 85%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.form--group {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--color-grey-dark-3);
}

/* div.tab__item--container {
  clear: both;
  width: 80%;
  height: 30rem;
  overflow: auto;
}

html>body div.tab__item--container {
  overflow: hidden;
  width: 80%;
}

div.tab__item--container table {
  float: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-number {
  width: 10%;
}
.col-name {
  width: 20%;
}
.col-department{
  width: 30%;
}
.col-appointment{
  width: 20%;
}
.col-actions{
  width: 20%;
}

tbody.table__body {
	display: block;
	height: 25rem;
	overflow: auto;
  width: 100%;
}

thead.table__fixed-header tr {
  position: relative;
}

thead.table__fixed-header {
	display: table;
	overflow: auto;
  width: 100%;
  box-sizing: border-box;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

thead.table__fixed-header tr {
  position: relative;
}

.tab__item--container {
  clear: both;
  width: 80%;
  height: 30rem;
  overflow: auto;
}

thead.table__fixed-header {
	display: table;
	overflow: auto;
  width: 100%;
  box-sizing: border-box;
}

tbody.table__body {
	display: block;
	height: 25rem;
	overflow: auto;
  width: 100%;
} */

